<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Project Form</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <hr>
      <h3>Project Create Form</h3>
      <form action="#" th:action="@{/project/add}" th:object="${proj}" method="POST">
        <div class="form-group">
          <input type="text" th:field="*{name}" placeholder="Name of Project" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" th:field="*{lokasi}" placeholder="Location of Project" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      <hr>
      <a th:href="@{/project}">Back To Home</a>
    </div>
  </div>
</div>
</body>
</html>