<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<head>
    <div th:replace="item/header :: headers"></div>
</head>
    <body>
        <div>TODO write content</div>
         <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Last Name</td>
                    <td>Address</td>
                    <td>Department ID</td>
                    <td>Department Name</td>
                    <td> project</td>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="d : ${employees}">
                    <td th:text="${d.id}"></td>
                    <td th:text="${d.name}"></td>
                    <td th:text="${d.email}"></td>
                    <td th:text="${d.last_name}"></td>
                    <td th:text="${d.address}"></td>
                    <td th:text="${d.department.id}"></td>
                    <td th:text="${d.department.name}"></td>
                    <td colspan="4" th:each="project : ${d.projects}">
                        <span th:text="${project.name}"><span>
                               <br>
                        <span th:text="${project.id}"><span>
                               <br>
                        <span th:text="${project.lokasi}"><span>
                               <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
