<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Project Form</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <hr>
      <h3>Project Create Form</h3>
      <form th:action="@{/department/update/{id}(id=${dept.id})}" th:object="${dept}" method="POST">
        <div class="form-group">
            <label>Name</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      <hr>
      <a th:href="@{/department}">Back To Home</a>
    </div>
  </div>
</div>
</body>
</html>